@import "bourbon/bourbon";

$xsmall: 360px;
$small: 640px;
$medium: 1024px;
$large: 1440px;
$xlarge: 1920px;

$red: #FF3727;
$blue: #1E9FB1;
$green: #20D03F;
$orange: #FF8F27;

a {outline: 0;}

.btn {border: none; &:hover{opacity: .8;}}
.btn-danger {background: $red; &:hover{background: $red;}}
.btn-primary {background: $blue; &:hover{background: $blue;}}

body {
  position: relative;
  overflow: hidden;
  font-family: "Roboto";
  font-weight: 300;
}

#home {
  position: relative;
  background: #000;

  .text {
    position: absolute;
    top: 8vh;
    width: 100%;
    color: #fff;
    text-align: center;
    z-index: 1;
    text-shadow: 0 4px 4px rgba(0,0,0,1);

    @media (min-width: $xsmall) {
      top: 14vh;
    }

    a {
      color: #fff;
    }

    h1 {
      font-family: Lobster;
      font-size: 16vw;

      @media (min-width: $xsmall) {
        font-size: 12vw;
      }

      @media (min-width: $small) {
        font-size: 84px;
      }
    }

    h2 {
      font-size: 9vw;
      font-weight: 300;
      position: relative;
      top: -1.5vh;

      @media (min-width: $xsmall) {
        font-size: 6vw;
        top: -1vh;
      }

      @media (min-width: $small) {
        font-size: 36px;
        top: -6px;
      }
    }

    h4 {
      font-size: 6vw;
      font-weight: 300;
      line-height: 1.7;

      @media (min-width: $xsmall) {
        font-size: 4vw;
      }

      @media (min-width: $small) {
        font-size: 18px;
      }
    }

    .color-bar {
      margin: 0 auto 18px auto;

      > span {
        display: inline-block;
        margin: 0 12px;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        box-shadow: 0 4px 4px rgba(0,0,0,.4);

        @media (min-width: $small) {
          margin: 0 20px;
          width: 8px;
          height: 8px;
          border-radius: 4px;
        }

        &:first-child {
          background-color: $red;
        }

        &:nth-child(2) {
          background-color: $blue;
        }

        &:nth-child(3) {
          background-color: $green;
        }

        &:nth-child(4) {
          background-color: $orange;
        }
      }
    }

    .icon {
      text-align: center;

      a:hover {
        opacity: .8;
      }

      img {
        width: 12vw;
        height: auto;

        @media (min-width: $xsmall) {
          width: 8vw;
        }

        @media (min-width: $small) {
          width: 48px;
          margin-top: 12px;
        }
      }
    }
  }

  .slides {
    width: 100%;
    height: 100%;

    .slide {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #444;
      background-size: cover;
      background-blend-mode: overlay;
      background-position: center center;

      &.slide-1 {background-image: url("../images/slide-1.jpg");}
      &.slide-2 {background-image: url("../images/slide-2.jpg");}
      &.slide-3 {background-image: url("../images/slide-3.jpg");}
    }
  }
}

#nav nav {
  background: #000;
  border-radius: 0;
  border: 0;
  margin: 0;

  .navbar-brand {
    padding-left: 64px;
    font-size: 24px;
    font-family: Lobster;
    color: #fff;

    > img {
      position: absolute;
      width: 36px;
      height: 36px;
      margin-left: -52px;
      margin-top: -8px;
    }

    &:hover {
      opacity: .8;
    }
  }

  .navbar-toggle {
    border: none;
    position: relative;
    left: 80px;
    @include transition(left .3s ease-in-out);

    &.visible {
      left: 0;
    }
  }
}

section.body-section {
  padding: 48px 0 18px 0;

  @media (min-width: $small) {
    padding: 72px 0 48px 0;
  }

  h1 {
    text-align: center;
    font-family: Lobster;
    font-size: 8vw;
    margin-bottom: 4vw;

    @media (min-width: $small) {
      font-size: 48px;
      margin-bottom: 36px;
    }

  }
}

#about-us {
  h1 {
    color: $red
  }
}

#services-pricing {
  h1 {
    color: $blue
  }

  .panel.panel-default {
    border-radius: 0;
    background: #f8f8f8;
    border-color: #eee;
    text-align: center;

    h3 {
      margin: 8px 0 18px 0;
      color: #666;
    }

    p {
      margin-bottom: 14px;
      color: #888;

      strong {
        color: #666;
      }
    }
  }
}

#gallery {
  h1 {
    color: $green;
  }

  div.staggered {

    div.item {
      box-sizing: border-box;
      float: left;
      width: 33%;
      padding: 1vw;

      @media (min-width: $small) {
        width: 25%;

        &:nth-child(7n - 2) {
          margin-left: 12.5%;
        }
      }

      a {
        display: block;
        height: 30vw;
        background-size: cover;

        @media (min-width: $small) {
          height: 15vw;
        }

        @media (min-width: $medium) {
          height: 200px;
        }

        @media (min-width: $large) {
          height: 240px;
        }
      }
    }
  }
}

#contact {
  h1 {
    color: $orange;
  }

  a {
    color: $orange;

    &:hover {
      opacity: .8;
    }
  }

  .contact-info {
    text-align: center;

    .hours {
      
      span {
        float: left;
        width: 47%;
        text-align: right;
        padding-right: 12px;
      }

      strong {
        float: left;
        width: 53%;
        text-align: left;
      }
    }
  }

  form {
    padding-top: 48px;

    @media (min-width: $small) {
      padding-top: 72px;
    }

    textarea {
      height: 200px;
    }
  }
}

footer {
  padding-bottom: 36px; 
  text-align: center;

  @media (min-width: $small) {
    padding-bottom: 72px;
  }

  img {
    display: inline-block;
    width: 28px;
    height: auto;
    margin: 0 3px;

    @media (min-width: $small) {
      width: 36px;
      margin: 0 6px;
    }
  }
}